<div class = "header">
  <h1>Librarian UPT</h1>
</div>
<ion-content>
  <ion-card>
    <ion-card-content>
      <div class = "container">
        <ion-button class = "subtitulo" [routerLink] ="['/nuevo_prestamo']" slot = "start">Volver<ion-icon name="chevron-back-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-item class = "titulo">Información detallada del prestamo</ion-item>
  <ion-item>
    <ion-label class = "subtitulo"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class = "subtitulo"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class = "subtitulo"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class = "subtitulo"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class = "subtitulo"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class = "subtitulo"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class = "subtitulo"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class = "subtitulo"></ion-label>
  </ion-item>
  <ion-card>
    <ion-card-content>
      <div class = "container">
        <ion-button  class = "normal" slot = "end" color = "medium" >Actualizar</ion-button>
        <ion-button  slot = "end" color = "danger">
          <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>
