.h1{
  
  .titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #444444;
    text-align: "center";
  }
  .subtitulo{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .normal{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
}